html, body
{
	margin: 0px;
  font-family: 'Raspoutine Medium', Arial, Helvetica, sans-serif;
	background-color:black;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	font-size: 11px;
	line-height: 17px;
	letter-spacing:0px;
	height: 100%;
}


@font-face 
{
	font-family: 'Raspoutine Medium';
	src: url(./font/PrestigeEliteStd.otf);
}

video#bgvid 
{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}

#videoID
{
	position: fixed;
	/*height: 100%;*/
	/*z-index: -1;*/
}

#header
{
	margin: 0px;
	height: 14.2%;
	width: 100%;
}

#footer
{
	clear: both;
	height: 14.2%;
	width: 100%;
}

#marginLeft
{
	float: left;
	width: 6.25%;
	height: 71%;
}

#marginRight
{
	float: right;
	width: 6.25%;
	height: 71%;
}

#content
{
	float: left;
	height: 71%;
	width: 68.75%;
	background-color: grey;
}

#rightNav
{
	float: right;
	width: 18.75%;
	height: 71%;
	background-color: pink;
}

#rightNav img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#labels
{
	height: 33.3%;
}

#releaseVideo
{
	float: right;
	background-color: black;
	height: 75%;
	width: 75%;
}

#releaseInfos
{
	width: 25%;
	height: 75%;
}

#tracklist
{
	height: 25%;
	width: 25%;
}

#releasePictures img
{
	height: 100%;
}

#releasePictures
{
	float: right;
	height: 25%;
	width: 75%;
}

