html, body
{
	margin: 0px;
  height:100%;
}

/*
@font-face 
{
	font-family: 'Raspoutine Medium';
	src: url(./font/PrestigeEliteStd.otf);
}
video#bgvid 
{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}
*/

#header
{
	margin: 0px;
	height: 14.2%;
	width: 100%;
	background-color: red;
}

#footer
{
	clear: both;
	height: 14.2%;
	width: 100%;
	background-color: blue;
}

#marginLeft
{
	float: left;
	width: 6.25%;
	height: 71%;
	background-color: green;
}

#marginRight
{
	float: right;
	width: 6.25%;
	height: 71%;
	background-color: green;
}

#content
{
	float: left;
	height: 71%;
	width: 68.75%;
	background-color: grey;
}

#rightNav
{
	float: right;
	width: 18.75%;
	height: 71%;
	background-color: pink;
}

#rightNav img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#labels
{
	height: 33.3%;
}
