
@font-face 
{
	font-family: 'Raspoutine Medium';
	src: url(./font/PrestigeEliteStd.otf);
}

body
{
	font-family: 'Raspoutine Medium', Arial, Helvetica, sans-serif;
	background-color:black;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	font-size: 11px;
	line-height: 17px;
	letter-spacing:0px;
}

video#bgvid 
{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}

a:link {text-decoration:none;color:white;font-size: 11px;font-weight:normal;}
a:visited {text-decoration:none;color:white;background-color:black;}
a:hover {color:black;background-color:#ffffff;}
a:active {text-decoration:none;color:white;}

#textID
{
	display: none;
}
