
@font-face 
{
	font-family: 'Raspoutine Medium';
	src: url(./font/PrestigeEliteStd.otf);
}

body
{
	font-family: 'Raspoutine Medium', Arial, Helvetica, san-serif;
	#background-image:url("./images/a.jpg");
	background-color:black;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	font-size: 11pt;
	line-height: 17pt;
	letter-spacing:1pt;
}

video#bgvid 
{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}

a:link {text-decoration:none;color:white}
a:visited {text-decoration:none;color:white;background-color:black;}
a:hover {color:black;background-color:#ffffff;}
a:active {text-decoration:none;}
